In [1]:
from statistics import ClassHistory
import fake_data as fd

mmsr_data = fd.mmsr_data
maintenance_periods_list = fd.maintenance_periods_list
deposit_rate_data = fd.deposit_rate_data


history = ClassHistory()
history.build_from_data(mmsr_data, deposit_rate_data, maintenance_periods_list)

0 incorect lines in the data base

In [2]:
mmsr_data = fd.mmsr_data

In [4]:
history = ClassHistory()

In [6]:
history.observed_path

In [7]:
history.build_from_data(mmsr_data, deposit_rate_data, maintenance_periods_list)

0 incorect lines in the data base

In [13]:
history.observed_path[5].y

masked_array(
  data=[[--, --, --, 178.0, --, 56.0, 4.5, --, --, --],
        [312.0, --, --, --, --, --, --, --, --, --],
        [--, --, --, --, --, --, --, --, --, --],
        [--, --, 11.0, --, --, --, --, --, --, --],
        [780.0, --, --, 10.0, --, --, --, --, --, --],
        [--, --, 112.0, --, --, --, --, --, --, --],
        [--, --, --, --, --, 20.0, --, --, --, --],
        [--, --, --, --, 296.0, --, --, --, --, 1454.0],
        [--, 1475.0, --, --, --, --, --, --, --, --],
        [--, --, 38.0, 10.0, 8.0, --, --, 342.2, --, --]],
  mask=[[ True,  True,  True, False,  True, False, False,  True,  True,
          True],
        [False,  True,  True,  True,  True,  True,  True,  True,  True,
          True],
        [ True,  True,  True,  True,  True,  True,  True,  True,  True,
          True],
        [ True,  True, False,  True,  True,  True,  True,  True,  True,
          True],
        [False,  True,  True, False,  True,  True,  True,  True,  True,
          True],
        [ True,  True, False,  True,  True,  True,  True,  True,  True,
          True],
        [ True,  True,  True,  True,  True, False,  True,  True,  True,
          True],
        [ True,  True,  True,  True, False,  True,  True,  True,  True,
         False],
        [ True, False,  True,  True,  True,  True,  True,  True,  True,
          True],
        [ True,  True, False, False, False,  True,  True, False,  True,
          True]],
  fill_value=0.0)

In [24]:
import pandas as pd
import numpy as np
df = pd.DataFrame(index=pd.period_range(start="2020-01-01",end="2020-01-10",freq="1h").to_timestamp(),columns=["dingo"],data=np.random.rand(len(pd.period_range(start="2020-01-01",end="2020-01-10",freq="1h").to_timestamp())))

In [26]:
df.resample("1d",closed="left").sum()

                dingo
2020-01-01  12.062999
2020-01-02  11.503420
2020-01-03  14.074505
2020-01-04  12.432217
2020-01-05   9.920412
2020-01-06  11.410634
2020-01-07  14.401705
2020-01-08  10.883450
2020-01-09  11.877328
2020-01-10   0.620062

In [27]:
df.set_index(["dingo"])

Empty DataFrame
Columns: []
Index: [0.6906273859192581, 0.9072605621290052, 0.9881764339426575, 0.29886379040456235, 0.11602817525283182, 0.028079468477850478, 0.789704168891941, 0.1835188544517785, 0.9477473927076552, 0.749010025820569, 0.5338097647022503, 0.46143370909712256, 0.8071165287118629, 0.43878997057095304, 0.9640448842118584, 0.944882195866708, 0.43151409906354254, 0.7320365640126504, 0.2561849774691556, 0.6494228016182172, 0.04511655641484391, 0.06015984870764546, 0.02616653552884618, 0.013304312313799027, 0.9342443096924532, 0.21155490932049925, 0.47986646109073117, 0.7274759749797144, 0.37492277765911086, 0.8442001846728809, 0.20023842150356208, 0.7346908193378097, 0.9832443799736429, 0.9019628809900586, 0.3129809533200202, 0.088895017418116, 0.4783066894207949, 0.025018236339509836, 0.4832277315720698, 0.12773447555384432, 0.19133396385302381, 0.8709148196764527, 0.011208467467768268, 0.6175925906560203, 0.2298762715505085, 0.826832000604208, 0.35849314726242776, 0.4886042431561378, 0.5482275861459415, 0.6500440739774309, 0.8978018087766788, 0.3667414677698707, 0.8786674164847992, 0.6394214033225756, 0.21456039561844953, 0.5792061473887055, 0.9577551945102756, 0.7146917365186105, 0.2921702999168242, 0.05681429831410367, 0.2834692441796699, 0.9899652223952881, 0.5430532729179812, 0.7490759255129193, 0.7830115093899016, 0.14800145146785937, 0.16821965727389332, 0.19378681524909125, 0.7730649832121719, 0.7648790295737056, 0.9368080824212608, 0.9450676477855872, 0.8719286356263716, 0.42946117456916244, 0.1770019267449492, 0.4447626692064802, 0.7800325432184773, 0.8148886097236621, 0.9744808307867661, 0.6801408950188822, 0.22738672102334456, 0.5499073433618608, 0.04089441733568622, 0.9528122282725924, 0.3366483328020293, 0.001039837190315418, 0.5359380861086156, 0.22047217422867804, 0.645281580751756, 0.9838876772312666, 0.6597244761974584, 0.5350381092962733, 0.25538538121477317, 0.1886495196864606, 0.6199892708078601, 0.5064649605801901, 0.42129909583988523, 0.7202549162040777, 0.2703288791056505, 0.542309964277102, ...]

[217 rows x 0 columns]

In [ ]:
pd.read_csv()

In [28]:
observed_path ={"2020-01-01":df}

In [29]:
observed_path["2020-01-01"]

                        dingo
2020-01-01 00:00:00  0.690627
2020-01-01 01:00:00  0.907261
2020-01-01 02:00:00  0.988176
2020-01-01 03:00:00  0.298864
2020-01-01 04:00:00  0.116028
...                       ...
2020-01-09 20:00:00  0.086782
2020-01-09 21:00:00  0.690002
2020-01-09 22:00:00  0.688360
2020-01-09 23:00:00  0.785628
2020-01-10 00:00:00  0.620062

[217 rows x 1 columns]

In [31]:
df.iloc[0,0]=0

In [32]:
df.fillna(0)

                        dingo
2020-01-01 00:00:00  0.000000
2020-01-01 01:00:00  0.907261
2020-01-01 02:00:00  0.988176
2020-01-01 03:00:00  0.298864
2020-01-01 04:00:00  0.116028
...                       ...
2020-01-09 20:00:00  0.086782
2020-01-09 21:00:00  0.690002
2020-01-09 22:00:00  0.688360
2020-01-09 23:00:00  0.785628
2020-01-10 00:00:00  0.620062

[217 rows x 1 columns]