In [1]:
# imports 
import data_preprocessing as dp
import fake_data as fd

In [5]:
# parameters

In [2]:
# load fake data
df_mmsr = fd.get_df_mmsr(nb_tran=100)

In [3]:
dic_obs_adj_cr, dic_obs_adj_tr = dp.build_from_data(df_mmsr=df_mmsr)

100%|██████████| 100/100 [00:00<00:00, 1124.52it/s]

In [4]:
dp.get_dic_obs_adj_tr()

{'2020-01-01':            fund_4  bank_4  bank_3     bank_1     fund_0     bank_0     bank_2  \
 fund_4   0.000000       0       0   0.000000   0.000000   0.000000   0.000000
 bank_4   0.000000       0       0  64.603748  11.305975   0.000000   0.000000
 bank_3   0.000000       0       0  44.416685   0.000000  34.908877   0.000000
 bank_1  56.746752       0       0   0.000000  31.865313   0.000000   0.000000
 fund_0   0.000000       0       0   0.000000   0.000000   0.000000   0.000000
 bank_0  95.106584       0       0   0.000000  31.191566  90.926912  16.923019
 bank_2   0.000000       0       0   0.000000   0.000000   0.000000   0.000000
 fund_3   0.000000       0       0   0.000000   0.000000   0.000000   0.000000
 fund_2   0.000000       0       0   0.000000   0.000000   0.000000   0.000000
 fund_1   0.000000       0       0   0.000000   0.000000   0.000000   0.000000

          fund_3  fund_2  fund_1
 fund_4   0.0000       0       0
 bank_4   0.0000       0       0
 bank_3  46.3031       0       0
 bank_1   0.0000       0       0
 fund_0   0.0000       0       0
 bank_0   0.0000       0       0
 bank_2   0.0000       0       0
 fund_3   0.0000       0       0
 fund_2   0.0000       0       0
 fund_1   0.0000       0       0  ,
 '2020-01-02':             fund_4     bank_4     bank_3  bank_1     fund_0      bank_0  \
 fund_4    0.000000   0.000000   0.000000       0    0.00000    0.000000
 bank_4    6.529110  77.167659  63.339097       0    0.00000    0.000000
 bank_3    0.000000   0.000000   0.000000       0  131.65242    0.000000
 bank_1    0.000000   0.000000   0.000000       0    0.00000    0.000000
 fund_0    0.000000   0.000000   0.000000       0    0.00000    0.000000
 bank_0  191.483525  60.903581   0.000000       0    0.00000  147.665756
 bank_2    0.000000   0.000000  15.569737       0   36.10935   95.115586
 fund_3    0.000000   0.000000   0.000000       0    0.00000    0.000000
 fund_2    0.000000   0.000000   0.000000       0    0.00000    0.000000
 fund_1    0.000000   0.000000   0.000000       0    0.00000    0.000000

             bank_2     fund_3  fund_2     fund_1
 fund_4    0.000000   0.000000       0   0.000000
 bank_4    0.000000  92.926149       0   0.000000
 bank_3    0.000000   0.000000       0   0.184981
 bank_1  183.520606   0.000000       0  38.520547
 fund_0    0.000000   0.000000       0   0.000000
 bank_0    0.000000   0.000000       0   0.000000
 bank_2    0.000000   0.000000       0   0.000000
 fund_3    0.000000   0.000000       0   0.000000
 fund_2    0.000000   0.000000       0   0.000000
 fund_1    0.000000   0.000000       0   0.000000  ,
 '2020-01-03':            fund_4     bank_4  bank_3     bank_1  fund_0      bank_0  bank_2  \
 fund_4   0.000000   0.000000       0   0.000000       0    0.000000       0
 bank_4   0.000000   0.000000       0   0.000000       0    0.000000       0
 bank_3  88.137264   0.000000       0  72.655107       0  132.750735       0
 bank_1   0.000000   0.000000       0   0.000000       0    0.000000       0
 fund_0   0.000000   0.000000       0   0.000000       0    0.000000       0
 bank_0   0.000000   0.000000       0   0.000000       0    0.000000       0
 bank_2   0.000000  21.535868       0   0.000000       0    0.000000       0
 fund_3   0.000000   0.000000       0   0.000000       0    0.000000       0
 fund_2   0.000000   0.000000       0   0.000000       0    0.000000       0
 fund_1   0.000000   0.000000       0   0.000000       0    0.000000       0

             fund_3      fund_2     fund_1
 fund_4    0.000000    0.000000   0.000000
 bank_4  125.849065    0.000000   0.000000
 bank_3    0.000000    0.000000   0.000000
 bank_1    0.000000   41.120846   0.000000
 fund_0    0.000000    0.000000   0.000000
 bank_0   60.788124  140.997802   0.000000
 bank_2    0.000000   97.592752  22.635509
 fund_3    0.000000    0.000000   0.000000
 fund_2    0.000000    0.000000   0.000000
 fund_1    0.000000    0.000000   0.000000  ,
 '2020-01-04':             fund_4     bank_4     bank_3  bank_1     fund_0      bank_0  \
 fund_4    0.000000   0.000000   0.000000       0   0.000000    0.000000
 bank_4    0.000000  77.220323  68.037528       0  44.922684    0.000000
 bank_3  154.525197   0.000000   0.000000       0   0.000000  156.116676
 bank_1    0.000000   0.000000  45.097188       0   0.000000   97.798982
 fund_0    0.000000   0.000000   0.000000       0   0.000000    0.000000
 bank_0  286.735096   0.000000   0.000000       0   0.000000  181.393446
 bank_2    0.000000   0.000000   0.000000       0   0.000000    0.000000
 fund_3    0.000000   0.000000   0.000000       0   0.000000    0.000000
 fund_2    0.000000   0.000000   0.000000       0   0.000000    0.000000
 fund_1    0.000000   0.000000   0.000000       0   0.000000    0.000000

             bank_2      fund_3  fund_2      fund_1
 fund_4    0.000000    0.000000       0    0.000000
 bank_4    0.000000  138.839573       0    0.000000
 bank_3    0.000000    0.000000       0    0.000000
 bank_1  226.131688    0.000000       0    0.000000
 fund_0    0.000000    0.000000       0    0.000000
 bank_0    0.000000    0.000000       0    0.000000
 bank_2   80.814158    0.000000       0  103.540249
 fund_3    0.000000    0.000000       0    0.000000
 fund_2    0.000000    0.000000       0    0.000000
 fund_1    0.000000    0.000000       0    0.000000  ,
 '2020-01-05':         fund_4      bank_4  bank_3  bank_1  fund_0  bank_0  bank_2  fund_3  \
 fund_4       0    0.000000       0       0       0       0       0       0
 bank_4       0    0.000000       0       0       0       0       0       0
 bank_3       0    0.000000       0       0       0       0       0       0
 bank_1       0    0.000000       0       0       0       0       0       0
 fund_0       0    0.000000       0       0       0       0       0       0
 bank_0       0  140.023025       0       0       0       0       0       0
 bank_2       0    0.000000       0       0       0       0       0       0
 fund_3       0    0.000000       0       0       0       0       0       0
 fund_2       0    0.000000       0       0       0       0       0       0
 fund_1       0    0.000000       0       0       0       0       0       0

         fund_2  fund_1
 fund_4       0       0
 bank_4       0       0
 bank_3       0       0
 bank_1       0       0
 fund_0       0       0
 bank_0       0       0
 bank_2       0       0
 fund_3       0       0
 fund_2       0       0
 fund_1       0       0  }