In [1]:
# imports 
import data_preprocessing as dp
import fake_data as fd

In [2]:
# load fake data
df_mmsr = fd.get_df_mmsr(nb_tran=100)

In [3]:
dic_obs_adj_cr, dic_obs_adj_tr = dp.build_from_data(df_mmsr=df_mmsr)

100%|██████████| 100/100 [00:00<00:00, 602.96it/s]

In [4]:
dp.get_dic_obs_adj_tr()

{'2020-01-01':            bank_2      fund_4     bank_0  fund_0  fund_3      bank_4  \
 bank_2   0.000000  108.152170   0.000000       0       0    0.000000
 fund_4   0.000000    0.000000   0.000000       0       0    0.000000
 bank_0   0.000000    0.000000   0.000000       0       0  133.177652
 fund_0   0.000000    0.000000   0.000000       0       0    0.000000
 fund_3   0.000000    0.000000   0.000000       0       0    0.000000
 bank_4   0.603025    0.000000   0.000000       0       0   28.449259
 fund_2   0.000000    0.000000   0.000000       0       0    0.000000
 bank_1  76.469751   20.511289  29.116975       0       0    0.000000
 bank_3   0.000000    0.000000   0.000000       0       0   94.738067
 fund_1   0.000000    0.000000   0.000000       0       0    0.000000

            fund_2  bank_1  bank_3  fund_1
 bank_2  53.026719       0       0       0
 fund_4   0.000000       0       0       0
 bank_0   8.948330       0       0       0
 fund_0   0.000000       0       0       0
 fund_3   0.000000       0       0       0
 bank_4   0.000000       0       0       0
 fund_2   0.000000       0       0       0
 bank_1   0.000000       0       0       0
 bank_3   0.000000       0       0       0
 fund_1   0.000000       0       0       0  ,
 '2020-01-02':         bank_2     fund_4  bank_0  fund_0     fund_3      bank_4  fund_2  \
 bank_2       0   0.000000       0       0  93.529108    0.000000       0
 fund_4       0   0.000000       0       0   0.000000    0.000000       0
 bank_0       0  41.419123       0       0   0.000000  196.501948       0
 fund_0       0   0.000000       0       0   0.000000    0.000000       0
 fund_3       0   0.000000       0       0   0.000000    0.000000       0
 bank_4       0   0.000000       0       0  73.998279    0.000000       0
 fund_2       0   0.000000       0       0   0.000000    0.000000       0
 bank_1       0   0.000000       0       0   0.000000   19.566618       0
 bank_3       0  21.120571       0       0  52.781991    0.000000       0
 fund_1       0   0.000000       0       0   0.000000    0.000000       0

            bank_1  bank_3     fund_1
 bank_2  82.053179       0   0.000000
 fund_4   0.000000       0   0.000000
 bank_0   0.000000       0  60.642244
 fund_0   0.000000       0   0.000000
 fund_3   0.000000       0   0.000000
 bank_4   0.000000       0   0.000000
 fund_2   0.000000       0   0.000000
 bank_1   0.000000       0  26.762724
 bank_3   0.000000       0   0.000000
 fund_1   0.000000       0   0.000000  ,
 '2020-01-03':            bank_2      fund_4     bank_0     fund_0      fund_3  bank_4  \
 bank_2  97.499726  198.377615   0.000000   0.000000    0.000000       0
 fund_4   0.000000    0.000000   0.000000   0.000000    0.000000       0
 bank_0   0.000000    0.000000   0.000000   0.000000   78.100483       0
 fund_0   0.000000    0.000000   0.000000   0.000000    0.000000       0
 fund_3   0.000000    0.000000   0.000000   0.000000    0.000000       0
 bank_4  70.353047    0.000000   0.000000   0.000000  128.318430       0
 fund_2   0.000000    0.000000   0.000000   0.000000    0.000000       0
 bank_1   0.000000    0.000000   0.000000  21.353238    0.000000       0
 bank_3   0.000000    0.000000  81.502181  82.398371    0.000000       0
 fund_1   0.000000    0.000000   0.000000   0.000000    0.000000       0

            fund_2     bank_1  bank_3    fund_1
 bank_2   0.000000   0.000000       0   0.00000
 fund_4   0.000000   0.000000       0   0.00000
 bank_0   0.000000   0.000000       0   0.00000
 fund_0   0.000000   0.000000       0   0.00000
 fund_3   0.000000   0.000000       0   0.00000
 bank_4  60.961412  69.739898       0   0.00000
 fund_2   0.000000   0.000000       0   0.00000
 bank_1   0.000000   0.000000       0  92.09388
 bank_3   0.000000   7.245008       0   0.00000
 fund_1   0.000000   0.000000       0   0.00000  ,
 '2020-01-04':            bank_2     fund_4     bank_0     fund_0  fund_3     bank_4  \
 bank_2   0.000000   0.000000   0.000000    0.00000       0    0.00000
 fund_4   0.000000   0.000000   0.000000    0.00000       0    0.00000
 bank_0  35.821342  47.887179  27.504679    0.00000       0    0.00000
 fund_0   0.000000   0.000000   0.000000    0.00000       0    0.00000
 fund_3   0.000000   0.000000   0.000000    0.00000       0    0.00000
 bank_4   0.000000   0.000000   0.000000    0.00000       0    0.00000
 fund_2   0.000000   0.000000   0.000000    0.00000       0    0.00000
 bank_1   0.000000  29.124964   0.000000  117.62396       0    0.00000
 bank_3   0.000000   0.000000   0.000000  125.78179       0  162.41006
 fund_1   0.000000   0.000000   0.000000    0.00000       0    0.00000

             fund_2      bank_1  bank_3     fund_1
 bank_2    0.000000  156.996173       0   0.000000
 fund_4    0.000000    0.000000       0   0.000000
 bank_0    0.000000   67.093283       0   0.000000
 fund_0    0.000000    0.000000       0   0.000000
 fund_3    0.000000    0.000000       0   0.000000
 bank_4  133.697459    0.000000       0  35.272304
 fund_2    0.000000    0.000000       0   0.000000
 bank_1   10.919624    0.000000       0   0.000000
 bank_3   57.537419    0.000000       0  31.929275
 fund_1    0.000000    0.000000       0   0.000000  ,
 '2020-01-05':         bank_2  fund_4      bank_0  fund_0  fund_3  bank_4  fund_2  bank_1  \
 bank_2       0       0  137.023894       0       0       0       0       0
 fund_4       0       0    0.000000       0       0       0       0       0
 bank_0       0       0    0.000000       0       0       0       0       0
 fund_0       0       0    0.000000       0       0       0       0       0
 fund_3       0       0    0.000000       0       0       0       0       0
 bank_4       0       0    0.000000       0       0       0       0       0
 fund_2       0       0    0.000000       0       0       0       0       0
 bank_1       0       0    0.000000       0       0       0       0       0
 bank_3       0       0    0.000000       0       0       0       0       0
 fund_1       0       0    0.000000       0       0       0       0       0

         bank_3  fund_1
 bank_2       0       0
 fund_4       0       0
 bank_0       0       0
 fund_0       0       0
 fund_3       0       0
 bank_4       0       0
 fund_2       0       0
 bank_1       0       0
 bank_3       0       0
 fund_1       0       0  }