In [1]:
import os
os.cpu_count()

36

In [2]:
from socket import gethostname
gethostname()

'srv006542.fr.cfm.fr'

In [1]:
test = None
if test:
    print(dingo)

In [1]:
dic_items = {  # Assets.
            "Cash": 0.0,
            "Securities Usable": 0.0,
            "Securities Encumbered": 0.0,
            "Loans": 0.0,
            "Reverse Repos": 0.0,
            "Own Funds": 0.0,
            "Deposits": 2,
            "Repos": 0.0,
            "MROs": 0.0,
            "Securities Collateral": 0.0,
            "Securities Reused": 0.0,
        }

In [3]:
import pandas as pd

In [6]:
import parameters as par

sr_accounting_items[par.assets].sum()

0

In [2]:
import parameters as par
import numpy as np

dict.fromkeys(par.matrices,np.zeros((4,5)))

{'adjency': array([[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.]]),
 'trust': array([[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.]]),
 'binary_adjency': array([[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.]])}

In [13]:
import pandas as pd
ind = pd.MultiIndex.from_tuples([], names=(u'one', u'two', u'three'))
df = pd.DataFrame(columns=['alpha', 'beta'], index=ind)
df.loc["bank a","transaction 1","time 56"] = [0.2,True]
df.loc["bank a","transaction 2","time 57"] = [0.3,True]
df.loc["bank b","transaction 2","time 57"] = [0.3,False]
df

                              alpha   beta
one    two           three
bank a transaction 1 time 56    0.2   True
       transaction 2 time 57    0.3   True
bank b transaction 2 time 57    0.3  False

In [14]:
df[df["beta"]]

                              alpha  beta
one    two           three
bank a transaction 1 time 56    0.2  True
       transaction 2 time 57    0.3  True

In [2]:
for i in range(1):
    print(i)

0

# dictionaries of arrays or dataframes

In [25]:
import parameters as par
import numpy as np
dic_matrices = dict.fromkeys(par.matrices)
for key in dic_matrices.keys():
    dic_matrices[key] = np.zeros((3, 3)).copy()

In [26]:
dic_matrices["adjency"][1,1] = 1
dic_matrices["adjency"]

array([[0., 0., 0.],
       [0., 1., 0.],
       [0., 0., 0.]])

In [27]:
dic_matrices["trust"]

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])